<!DOCTYPE html>
<html>
<head>
<title>Cows</title>
<style type="text/css">
body { 
	background-color: #032626 ;
}

h1 {font-size: 36px; text-align: center }
h2 {text-align: center }

.header {
	height: 900px;
	width: 900px;
	background-color: red;
	border: 100px double lime;
	margin: auto;
        color: blue;
	border-radius: 900px;

}
{

	width: 900px;
	background-color: #66ffff;
        border: 125px dotted green;
	height: 900px;
	border-radius: 103%;
}
.mooomooo{
	height: 10in;
	width: 10in;
	background-color: pink;
	border: 100px double lime;
	margin: auto;
        color: blue;
	border-radius: 100%;
}
.links {
background-color: ffooff;
height:800px;


}

.no {
	color: #032626

}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>

<body>
<script>
	$(function() {
		alert("omg the page is cool!");
		// $(".header").draggable();
	});
</script>
<div class="header">
	<h1>COWS!</h1>
	<h2>A.K.A. Avery's Homepage</h2>
</div>

<div class="rowrowrow">
nnnnnnnnnnnnnnnnnnnnnooooooooooooooooooooooooooooooooooooooooooooooooooo wuy wuy wuy me out of all the pepel wuy me.
</div>
<div class="mooomooo">
</div>
<div class="header">
</div>
<div class="rowrowrow">

</div>
<div class="header">
NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO NO!!!!!!!!!!!!!!!!!!! I will not marry you! Wut are you saing . your boyfrind brokeup! wuy did the boy brakeup!?!
</div>
<div class="rowrowrow">
</div>
<div class="header">	
</div>
<div class="rowrowrow">
<div class="mooomooo">



</div>
</div>

<div class="links">
<h3>Avery's Links</h3>
	<ul>
		<li><a href="https://www.typingclub.com/login/">Typing Club</a></li>
		<li><a href="http://armorgames.com/">Armor Games</a></li>
		<li><a href="http://www.roblox.com/">roblox</a></li>
		<li><a href="http://www.colorpicker.com/">pick a color</a></li>
		<li><a href="http://www.sparkchess.com/">chess</a><li>
	</ul>
</div>
<p class="no">NO, I will NOT GET OFF!!!!! oh! sorry mom and DAD! </p>
<img src="http://resources3.news.com.au/images/2012/03/27/1226311/607271-cow.jpg">
<p><img src="http://assets3.thrillist.com/v1/image/1210005/size/tl-horizontal_main/400-flying-cows-cause-plane-to-make-an-emergency-landing"></p>
<p><img src="http://wallpoper.com/images/00/02/95/75/crazy-cow_00029575.jpg"></p>
<!-- <p><img src="https://lh3.googleusercontent.com/WulPT0YE2kRprc9qslsBfuXabro7nx9vAN6piF2SczLXpSlJ9wl09U2Bq0GcQGypVxg=h900"></p> -->
<!-- <p><img src="https://lh4.ggpht.com/4__rIQraImpGkIU4YUqzvk0J_rtj5psPGnMlov9PJK9xca4dcInVp9kzllZEa7wVY9k=w300"></p>
<p><img src="http://s17.postimage.org/aow1w6m67/funny_pictures_running_chicken.jpg"></p>
<p><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTCyK3xeKxXFf871bibOdtDOaObuMGTn_-8fxRu214z0QuzcyPL8w"></p>
<p><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQAn9RBY2o7vAt3j5CFq590mcY77foFvkJP7zE3ZsSEDM711e7zIA"></p>
<p><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmCJJsFL_iAdL3BsQEw9IIeHgY5Gro0rHpbC37pOaakux_9i1R"></p>
<p><img src="http://cl.jroo.me/z3/g/w/f/d/a.aaa.jpg"></p> -->
<p><img src="http://i1074.photobucket.com/albums/w418/yogo69/emoticons/chick/chicken1.gif"></p>
<p><img src="http://25.media.tumblr.com/213c5af8940c9b274875f37dbdc6c54c/tumblr_mhjhzwY8lG1s2g6kko1_500.gif"></p>
<p><img src="http://llwproductions.files.wordpress.com/2012/03/animated-gif-cat-eyes-grow-large.gif?w=750"></p>
<p><img src="http://4.bp.blogspot.com/-4k2VoYo6o3g/UVo_0oM933I/AAAAAAAAACM/ZZ1OOe8fMqQ/s1600/tumblr_m7f6t0X4Gx1qa5rnho4_500.gif"></p>
<p><img src="https://s-media-cache-ak0.pinimg.com/736x/c4/4d/01/c44d0145b2dfd3fc06410bcfe825d86b.jpg"></p>
<p><img src="https://49.media.tumblr.com/69ca491eb6d252d2da58fe35c8c3f153/tumblr_n0jhcu6cP51ts9ffqo1_400.gif"></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
<p><img src=""></p>
</body>

</html>