
<div class="main_img">
	<div id="logo"><%= image_tag("rebeldojofist_md.jpg", class: 'img-responsive') %></div>
	<h1> A domain for free thinkers </h1>
	<h1> And a playground for some guy that likes to code </h1>
</div>
<br />
<div class='avery'>
	<%= link_to 'The Page of Avery', :controller => 'pages', :action => 'avery' %>
</div>

